@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Additions */

body {
  display: flex;
  flex-direction: column;
}

/* Header & Footer */

.header, .footer {
  padding: 20px;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
}

.header ul,
.footer ul {
  /* Text Decoration */
  list-style-type: none;
  text-decoration: none;
  color: black;
  /* Box sizing & Flexbox */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.footer {
  background-color: rgb(230, 230, 230);
}

/* Content */

.content {  
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buttons button {
  padding: 8px;
}


/* General */

a {
  color: rgb(77, 77, 77);
  text-decoration: none;
}

